<head th:templates="head">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>TestSolution V0.0.1</title>

  <!-- Bootstrap core CSS -->
   <link th:href="@{/css/bootstrap.css}" rel="stylesheet"></link>
   <link th:href="@{/css/shop-item.css}" rel="stylesheet"></link>
      
	<style>
		input.ng-valid, select.ng-valid {
		    border-color: #5cb85c;
		}
		input.ng-dirty.ng-invalid-required, select.ng-dirty.ng-invalid-required {
		    border-color: #d9534f;
		}
		input.ng-dirty.ng-invalid-minlength, select.ng-dirty.ng-invalid-minlength {
		    border-color: #f0ad4e;
		}
		
		input[type=number]::-webkit-inner-spin-button, 
		input[type=number]::-webkit-outer-spin-button { 
		  -webkit-appearance: none; 
		  margin: 0; 
		}
		
		input[type=number] { -moz-appearance:textfield; }
	</style>
</head>